extends layout

block content
  h1 Latest Posts
  
  if posts && posts.length > 0
    each post in posts
      article.post-preview
        a.post-link(href=`/${post.slug}.html`)
          h2= post.title
          p.meta
            time(datetime=post.date)= new Date(post.date).toLocaleDateString()
            span.reading-time= post.readingTime
          if post.excerpt
            p.excerpt= post.excerpt
          p.read-more Read more →
  else
    p No posts yet. Create your first draft!